<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FilaFlags</title>
    <script data-main="js/libs/config.js"
            src="bower_components/requirejs/require.js"></script>
</head>
<body>
<script type="text/javascript">
    // Try to connect its socket to server side at finishing page load
    require(['socket'], function(socket) {
        var onInvitationSent = function(msg) {
            location.reload();
        };
        socket.registerClient(onInvitationSent);
    });

    function join(uuid, justNow) {
        require(['join'], function(j) { j.join(uuid, justNow); });
    }
</script>
<div>

    <!-- TODO : 自分の名前を入れるフォームにしたい -->
    <form id="form" action="#">
        <input type="text" id="message" />
        <input type="submit" value="送信" />
    </form>

    <ul>
        <li th:each="flag : ${flags}">
            <p th:text="${flag.location}"></p>
            <p th:text="${flag.message}"></p>
            <button th:onclick="'join(\'' + ${flag.uuid} + '\', true);'">
                今すぐいきます
            </button>
            <button th:onclick="'join(\'' + ${flag.uuid} + '\', false);'">
                もうちょっとしたらいきます
            </button>
        </li>
    </ul>

</div>
</body>
</html>
