<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>サンプル</title>
        <script type="text/javascript" 
                src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/sockets.js"></script>
    </head>
    <body>
        <div id="result"></div>
        <form id="form" action="#">
            <input type="text" id="message" />
            <input type="submit" value="送信" />
        </form>
    </body>
</html>
